@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700,&display=swap");

@import "normalize";
@import "variables";
@import "mixins";
@import "socials";
@import "slider";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 10px;
}

​body {
  min-height: 100%;
  @include font(1.4rem, $text-color, 500, $text-ff, 1.8);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section {
  padding: 50px 0;
  &__header {
    text-align: center;
    text-transform: uppercase;
  }
  &__title {
    @include font(6rem, $brand-color, 900, $title-ff, 1.1);
    margin: 0%;
  }
  &__subtitle {
    @include font(1.8rem, $title-color, 500, $text-ff, 1.3);
    opacity: 0.6;
  }
}

.icon {
  position: relative;
  display: inline-block;
  margin: 15px;
  svg {
    fill: $brand-color;
    vertical-align: middle;
  }
  &:before,
  &:after {
    content: "";
    border-top: $b-size solid $brand-color;
    display: inline-block;
    width: 215px;
    vertical-align: middle;
  }
}

.profile {
  display: flex;
  margin: 30px 0;

  &__part {
    flex-basis: 50%;
    padding: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    & + & {
      border-left: $b-size solid $brand-color;
    }
  }

  &__img-wrap {
    font-size: 0;
    padding: 10px;
    border: $b-size solid $brand-color;
    position: relative;
    &:before,
    &:after {
      content: "";
      width: 102%;
      height: 50%;
      background-color: #fff;
      @include pCenter();
    }
    &:after {
      width: 50%;
      height: 102%;
    }
  }
  &__img {
    width: 100%;
    border: $b-size solid $brand-color;
    position: relative;
    z-index: 1;
  }

  &__name {
    @include font(3.6rem, $title-color, 900, $title-ff, 1.1);
    margin: 0;

    &:after {
      content: "";
      display: block;
      width: 50%;
      border-top: $b-size solid $brand-color;
      margin: 25px auto 0;
    }
  }
  &__pos {
    @include font(2.4rem, $title-color, 400, $text-ff, 1.1);
    opacity: 0.8;
    margin: 25px 0;
  }
  &__text {
    @include font(1.4rem, $text-color, 500, $text-ff, 1.8);
    text-align: center;
    margin-bottom: 25px;
    &:after {
      content: "";
      display: block;
      width: 50px;
      height: 4px;
      background-image: linear-gradient(
        to right,
        $brand-color 0%,
        $brand-color 20%,
        transparent 20%,
        transparent 30%,
        $brand-color 30%,
        $brand-color 70%,
        transparent 70%,
        transparent 80%,
        $brand-color 80%,
        $brand-color 100%
      );
      margin: 25px auto 0;
    }
  }
}

.btn {
  @include font(1.4rem, $title-color, 700, $btn-ff, 1);
  text-transform: uppercase;
  text-decoration: none;
  border: $b-size solid $brand-color;
  padding: 7px 15px;
  transition: all 0.25s ease-in;

  @include hover {
    color: $brand-color;
  }
}
